* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #FAFAF8;
}
.Head{
  padding: 20px 25px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  background-color: white;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}
.HeadLogo{
  width: 55px;
}
.HeadName{
  font-size: 30px;
  font-weight: 400;
}
main{
  padding: 30px 30px 10px;
}
.AddIngrdentForm{
  display: flex;
  justify-content: center;
  height: 38px;
  gap: 12px;
}

.AddIngrdentForm > input{
  border-radius: 6px;
  border: 1px solid #D1D5DB;
  padding: 9px 13px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  flex-grow: 1;
  min-width: 150px;
  max-width: 400px;
  
}

.AddIngrdentForm > button{
  font-family: Inter, sans-serif;
  border-radius: 6px;
  border: none;
  background-color: #141413;
  color: #FAFAF8;
  width: 150px;
  font-size: 0.875rem;
  font-weight: 500;
}

.AddIngrdentForm > button::before{
  content: "+";
  margin-right: 5px;
}

/* For Learning event in react */


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > img {
  width: 100%;
  border-radius: 10px;
  transition: filter .1s ease-in-out;
}

.container > img:hover {
  filter: brightness(120%);
}

.container > button {
  width: 100%;
  border-radius: 10px;
  padding: 1rem;
  border: 2px solid lightgray;
  background-color: white;
  cursor: pointer;
  margin-top: 20px;
  font-family: 'Karla', sans-serif;
  font-size: 1.3rem;
}

/* To use UseState Method In React */


/* .UseStates {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main > .title {
  text-align: center;
}

main > .value {
  background-color: black;
  border: none;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
} */

.UseStatecontainer {
  display: flex;
  flex-direction: column;
}

.UseStatecontainer > h1 {
  font-size: 1.5rem;
  margin-top: 0;
}

.counter {
  display: flex;
  align-items: flex-end;
  align-self: center;
  margin-top: 40px;
}

.counter > button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #737373;
  color: #D9D9D9;
  font-size: 1.5rem;
}

.counter > button:hover {
  background-color: #404040;
  color: #D9D9D9;
}

.count {
  background-color: white;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #262626;
  margin-block: 0 10px;
  font-size: 2rem;
}

.plus {
  margin-left: -20px;
}

.minus {
  margin-right: -20px;
  z-index: 1;
}

/* TO UPDATE ARRAY AND OBJECT USING USESTATE  */
/* .ArrayUpdate{
  display: flex;
  flex-direction: column; 
  align-items: center;
  background-color: #2C5E2E;
}

.ArrayUpdateBTN {
  width: 100%;
  max-width: 300px;
  background-color: transparent;
  padding: 1rem;
  color: white;
  border: 2px solid white;
  border-radius: 50px;
  cursor: pointer;
  font-family: 'Karla', sans-serif;
  margin-bottom: 20px;
}

.ArrayUpdateBTN:hover {
  background-color: #FFFEF1;
  color: #2C5E2E;
}

.ArrayUpdateBTN:focus {
  outline: 0;
}

p {
  margin-block: 10px;
  font-size: 2rem;
} */

 /* To Update State Object in React/ Update Card
main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0C4A6E;
  font-family: "Inter", sans-serif;
}

.card {
  background-color: white;
  width: 200px;
  border: 1px solid lightgray;
  border-radius: 10px;
  height: 350px;
}

.card .avatar {
  width: 100%;
  padding: 10%;
  padding-bottom: 0;
}

.card .name {
  margin-block: 13px;
  color: #333333;
}

.card .info {
  padding: 10px;
}

.card .favorite {
  width: 25px;
  cursor: pointer;
}

.card .contact {
  font-size: 0.75rem;
  color: gray;
  margin-block: 7px;
}

.card .favorite-button {
  border: none;
  background: transparent;
}

.card .favorite-button:active {
  transform: none;
  box-shadow: none;
} */

  /* Form in React
h1 {
    text-align: center;
}

form {
    padding-inline: 40px;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 4px;
}

input {
    border-radius: 100px;
    border: 1px solid #0D9488;
    height: 2rem;
    text-indent: 10px;
}

button {
    border-radius: 100px;
    border: 1px solid #0D9488;
    padding: 10px 30px;
    cursor: pointer;
    margin-top: 10px;
    transition: all 0.1s ease-in-out;
}

button:hover {
    background-color: #115E59;
    border-color: #042F2E;
    color: white;
} */



/* CONTINATION OF CHEF CLAUDE  (Conditional rendering) */

ul.ingredients-list {
  margin-bottom: 48px;
}

ul.ingredients-list > li {
  color: #475467;
  line-height: 28px;
}

.get-recipe-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background: #F0EFEB;
  padding: 10px 28px;
}

.get-recipe-container h3 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 24px;
}

.get-recipe-container p {
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 20px;
}

.get-recipe-container button {
  border: none;
  border-radius: 6px;
  background: #D17557;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  color: #FAFAF8;
  padding: 9px 17px;
  font-family: Inter, sans-serif;
  font-size: 0.875rem;
  cursor: pointer;
}


.suggested-recipe-container {
  color: #475467;
  line-height: 28px;
  font-size: 1.125rem;
  font-weight: 400;
}

.suggested-recipe-container ul li, .suggested-recipe-container ol li {
  margin-bottom: 8px;
}


